<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <title>Todos nuestros productos</title>
    <link rel="stylesheet" href="/css/allProducts.css">
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <section class="products-container">
          <%- include("../partials/home/category.ejs") %>
      </section>
    </main>

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
