<!DOCTYPE html>
<html lang="es">
<head>
  
  
  <%- include('../partials/head.ejs') %>
  
</head>




<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <main>
    <section class="imagen">
      <img src="imagen.jpg" alt="Imagen del producto">
    </section>
    <section class="informacion">
      <h2>Nombre del producto</h2>
      <p>Descripción del producto</p>
      <ul>
        <li>Precio: $100</li>
        <li>Stock: 10 unidades</li>
      </ul>
    </section>
    <section class="botones">
      <a href="carrito.html" class="boton-comprar">Agregar al carrito</a>
      <a href="lista-productos.html" class="boton-volver">Volver a la lista de productos</a>
    </section>
  </main>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>
