<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Detalle de producto</title>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <header>
    <section class="header-main">
      <a href="/" id="logo-container"
        ><img src="/images/logo.jpeg" alt="Logo" id="logo"
      /></a>

      <div class="header-main searchBar">
        <input type="text" placeholder="Buscar Artículos" />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div class="header-main account-cart">
        <a href="/registro"> <i class="fa-solid fa-user"></i> MI CUENTA </a>
        <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </section>

    <nav class="header-navBar">
      <ul>
        <li><a href="#">SAMSUNG</a></li>
        <li><a href="#">SMARTWATCH</a></li>
        <li><a href="#">MOTOROLA</a></li>
        <li><a href="#">ACCESORIOS</a></li>
        <li><a href="#">IPHONE</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="imagen">
      <img src="imagen.jpg" alt="Imagen del producto">
    </section>
    <section class="informacion">
      <h2>Nombre del producto</h2>
      <p>Descripción del producto</p>
      <ul>
        <li>Precio: $100</li>
        <li>Stock: 10 unidades</li>
      </ul>
    </section>
    <section class="botones">
      <a href="carrito.html" class="boton-comprar">Agregar al carrito</a>
      <a href="lista-productos.html" class="boton-volver">Volver a la lista de productos</a>
    </section>
  </main>
  
  <footer>
    <section class="footer-lists">
      <h4 class="title">Sobre nosotros</h4>
      <ul>
        <li><a href="#">Quiénes somos</a></li>
        <li><a href="#">Trabajá con nosotros</a></li>
      </ul>
    </section>

    <section class="footer-lists">
      <h4 class="title">Preguntas Frecuentes</h4>
      <ul>
        <li><a href="#">Cómo comprar</a></li>
        <li><a href="#">Como se envía</a></li>
        <li><a href="#">Tiempo de envío</a></li>
        <li><a href="#">Métodos de pago</a></li>
      </ul>
    </section>

    <section class="footer-lists">
      <h4 class="title">Contacto</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Whatsapp</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Correo</a></li>
      </ul>
    </section>
  </footer>
</body>
</html>
