<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cells Paradise</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <section class="header-main">
        <img src="images/logo.jpeg" alt="Logo" id="logo" />

        <input type="search" placeholder="Buscar..." />

        <i class="fa-solid fa-user"> MI CUENTA</i>
        <i class="fa-solid fa-cart-shopping"></i>
      </section>

      <nav class="header-navBar">
        <ul>
          <li><a href="#">SAMSUNG</a></li>
          <li><a href="#">SMARTWATCH</a></li>
          <li><a href="#">MOTOROLA</a></li>
          <li><a href="#">ACCESORIOS</a></li>
          <li><a href="#">IPHONE</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <article class="banner">
        <img src="#" alt="Banner" />
        <img src="#" alt="Banner" />
        <img src="#" alt="Banner" />
      </article>

      <h3 class="main-categorie">Celulares</h3>

      <section class="main-products">
        <button type="button"><i class="fa-solid fa-angle-left"></i></button>

        <section class="main-products individualProduct">
          <img src="images/Motorola E22.webp" alt="Motorola E22" />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$85.000</p>
            <p class="main-products priceDiscount">10% Off</p>
            <h4>Motorola E22</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <section class="main-products individualProduct">
          <img src="images/Samsung A23.webp" alt="Samsung A23" />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$200.000</p>
            <p class="main-products priceDiscount">5% Off</p>
            <h4>Samsung A23</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <section class="main-products individualProduct">
          <img src="images/Moto EDGE 30 NEO.webp" alt="Moto EDGE 30 NEO" />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$175.000</p>
            <p class="main-products priceDiscount">30% Off</p>
            <h4>Moto EDGE 30 NEO</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <section class="main-products individualProduct">
          <img src="images/iPhone 11.webp" alt="iPhone 11" />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$610.000</p>
            <p class="main-products priceDiscount" hidden>10% Off</p>
            <h4>iPhone 11</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <section class="main-products individualProduct">
          <img src="images/Samsung A54.webp" alt="Samsung A54" />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$340.000</p>
            <p class="main-products priceDiscount" hidden>10% OFF</p>
            <h4>Samsung A54</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <section class="main-products individualProduct">
          <img src="images/iPhone SE.webp" alt="iPhone SE" />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$740.000</p>
            <p class="main-products priceDiscount">40% OFF</p>
            <h4>iPhone SE</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <button type="button"><i class="fa-solid fa-angle-right"></i></button>
      </section>

      <section class="main-productsOnSale">
        <div>
          <img src="#" alt="Oferta" />
        </div>
        <div>
          <img src="#" alt="Oferta" />
        </div>
      </section>

      <h3 class="main-categorie">Accesorios</h3>

      <section class="main-products">
        <button type="button"><i class="fa-solid fa-angle-left"></i></button>

        <section class="main-products individualProduct">
          <img
            src="images/Gizmo Zelda 54.webp"
            alt="SmartWatch Gizmo Zelda 54"
          />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$20.000</p>
            <p class="main-products priceDiscount">10% OFF</p>
            <h4>SmartWatch Gizmo Zelda 54</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <section class="main-products individualProduct">
          <img
            src="images/Sandisk 32GB.webp"
            alt="Memoria SD SanDisk 32GB Ultra"
          />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$4.700</p>
            <p class="main-products priceDiscount" hidden>40% OFF</p>
            <h4>Memoria SD SanDisk 32GB Ultra</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <section class="main-products individualProduct">
          <img src="images/Cargador Samsung.webp" alt="Cargador Samsung" />

          <article class="main-products descriptionProduct">
            <p class="main-products priceProduct">$11.000</p>
            <p class="main-products priceDiscount" hidden>40% OFF</p>
            <h4>Cargador Samsung</h4>
            
            <br>

            <button type="button">AGREGAR</button>
          </article>
        </section>

        <button type="button"><i class="fa-solid fa-angle-right"></i></button>
      </section>
    </main>

    <footer>
      <section class="footer-lists">
        <ul>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">dsaada</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">dasdasd</a></li>
          <li><a href="#">dasdasd</a></li>
        </ul>
      </section>

      <section class="footer-lists">
        <ul>
          <li><a href="#">asdasdasdas</a></li>
          <li><a href="#">dsaada</a></li>
          <li><a href="#">asdasdas</a></li>
          <li><a href="#">dasdasd</a></li>
          <li><a href="#">dasdasd</a></li>
        </ul>
      </section>

      <section class="footer-lists">
        <ul>
          <li><a href="#">asdasda</a></li>
          <li><a href="#">dsaada</a></li>
          <li><a href="#">sasdasda</a></li>
          <li><a href="#">dasdasd</a></li>
          <li><a href="#">dasdasd</a></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
