<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cells Paradise</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <section class="header-main">
        <a href="/" id="logo-container"
          ><img src="images/logo.jpeg" alt="Logo" id="logo"
        /></a>

        <div class="header-main searchBar">
          <input type="search" placeholder="Buscar Artículos" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="header-main account-cart">
          <a href="/registro"> <i class="fa-solid fa-user"></i> MI CUENTA </a>
          <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </section>

      <nav class="header-navBar">
        <ul>
          <li><a href="#">SAMSUNG</a></li>
          <li><a href="#">SMARTWATCH</a></li>
          <li><a href="#">MOTOROLA</a></li>
          <li><a href="#">ACCESORIOS</a></li>
          <li><a href="#">IPHONE</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <article class="banner">
        <button type="button" class="banner leftArrow">
          <i class="fa-solid fa-angle-left"></i>
        </button>
        <a href="#" class="banner-container"
          ><img src="images/Banner-Accesorios.jpg" alt="Banner"
        /></a>
        <button type="button" class="banner rightArrow">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </article>

      <h3 class="main-categorie">CELULARES</h3>

      <section class="main-products">
        <button type="button" class="arrowButton">
          <i class="fa-solid fa-angle-left"></i>
        </button>

        <section class="individualProduct">
          <a href="/detail"
            ><img src="images/Motorola E22.png" alt="Motorola E22"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$85.000</p>
            <div class="priceDiscount">
              <p class="oldPrice">$94.445</p>
              <p class="discount">10% Off</p>
            </div>
            <h4 class="title">MOTOROLA E22</h4>
          </article>
        </section>

        <section class="individualProduct">
          <a href="/detail"
            ><img src="images/Samsung S21.png" alt="Samsung S21"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$342.000</p>

            <div class="priceDiscount">
              <p class="oldPrice">$360.000</p>
              <p class="discount">5% Off</p>
            </div>

            <h4 class="title">SAMSUNG S21</h4>
          </article>
        </section>

        <section class="individualProduct">
          <a href="/detail"
            ><img src="images/Moto EDGE 30 NEO.png" alt="Moto EDGE 30 NEO"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$155.400</p>

            <div class="priceDiscount">
              <p class="oldPrice">$222.000</p>
              <p class="discount">30% Off</p>
            </div>

            <h4 class="title">MOTO EDGE 30 NEO</h4>
          </article>
        </section>

        <section class="individualProduct">
          <a href="/detail"
            ><img src="images/iPhone 11 PRO.png" alt="iPhone 11 PRO"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$1.070.000</p>
            <p class="discount" hidden>10% Off</p>
            <h4 class="title">IPHONE 11 PRO</h4>
          </article>
        </section>

        <section class="individualProduct">
          <a href="/detail"
            ><img src="images/Samsung A54.png" alt="Samsung A54"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$340.000</p>
            <p class="discount" hidden>10% OFF</p>
            <h4 class="title">SAMSUNG A54</h4>
          </article>
        </section>

        <section class="individualProduct">
          <a href="/detail"
            ><img src="images/iPhone SE.png" alt="iPhone SE"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$676.000</p>

            <div class="priceDiscount">
              <p class="oldPrice">$750.000</p>
              <p class="discount">10% OFF</p>
            </div>

            <h4 class="title">IPHONE SE</h4>
          </article>
        </section>

        <button type="button" class="arrowButton">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </section>

      <section class="main-productsOnSale">
        <div>
          <a href="#"
            ><img src="images/Oferta-BlackFriday.jpg" alt="Oferta"
          /></a>
        </div>
        <div>
          <a href="#"
            ><img src="images/Oferta-Accesorios.jpg" alt="Oferta"
          /></a>
        </div>
      </section>

      <h3 class="main-categorie">ACCESORIOS</h3>

      <section class="main-products">
        <!-- <button type="button" class="arrowButton"><i class="fa-solid fa-angle-left"></i></button> -->

        <section class="individualProduct">
          <a href="/detail"
            ><img
              src="images/Apple Watch Series 8.png"
              alt="Apple Watch Series 8"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$18.000</p>

            <div class="priceDiscount">
              <p class="oldPrice">$20.000</p>  
              <p class="discount">10% OFF</p>
            </div>

            <h4 class="title">APPLE WATCH SERIES 8</h4>
          </article>
        </section>

        <section class="individualProduct">
          <a href="/detail"
            ><img
              src="images/Sandisk 128GB.png"
              alt="Memoria SD SanDisk 128GB Ultra"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$4.700</p>
            <p class="discount" hidden>40% OFF</p>
            <h4 class="title">MEMORIA SD SANDISK 128GB ULTRA</h4>
          </article>
        </section>

        <section class="individualProduct">
          <a href="/detail"
            ><img src="images/Cargador Samsung.png" alt="Cargador Samsung"
          /></a>

          <article class="descriptionProduct">
            <button type="button" class="btn-Add">AGREGAR</button>

            <p class="priceProduct">$11.000</p>
            <p class="discount" hidden>40% OFF</p>
            <h4 class="title">CARGADOR SAMSUNG</h4>
          </article>
        </section>

        <!-- <button type="button" class="arrowButton"><i class="fa-solid fa-angle-right"></i></button> -->
      </section>
    </main>

    <footer>
      <section class="footer-lists">
        <h4 class="title">Sobre nosotros</h4>
        <ul>
          <li><a href="#">Quiénes somos</a></li>
          <li><a href="#">Trabajá con nosotros</a></li>
        </ul>
      </section>

      <section class="footer-lists">
        <h4 class="title">Preguntas Frecuentes</h4>
        <ul>
          <li><a href="#">Cómo comprar</a></li>
          <li><a href="#">Como se envía</a></li>
          <li><a href="#">Tiempo de envío</a></li>
          <li><a href="#">Métodos de pago</a></li>
        </ul>
      </section>

      <section class="footer-lists">
        <h4 class="title">Contacto</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Whatsapp</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Correo</a></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
