<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <header>
        <article>
          <img src="#" alt="Logo" />
        </article>
  
        <section>
          <input type="text" placeholder="Buscar..." />
          <nav>
            <ul>
              <li><a href="#">sasd</a></li>
              <li><a href="#">dasdsa</a></li>
              <li><a href="#">asdsad</a></li>
            </ul>
          </nav>
        </section>
  
        <section>
          <img src="#" alt="Perfil" />
          <img src="#" alt="Carrito" />
        </section>
      </header>

      <main>

    </main>

      <footer>
        <section>
            <ul>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">dsaada</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">dasdasd</a></li>
                <li><a href="#">dasdasd</a></li>
            </ul>
        </section>
        
        <section>
            <ul>
                <li><a href="#">asdasdasdas</a></li>
                <li><a href="#">dsaada</a></li>
                <li><a href="#">asdasdas</a></li>
                <li><a href="#">dasdasd</a></li>
                <li><a href="#">dasdasd</a></li>
            </ul>
        </section>
        
        <section>
            <ul>
                <li><a href="#">asdasda</a></li>
                <li><a href="#">dsaada</a></li>
                <li><a href="#">sasdasda</a></li>
                <li><a href="#">dasdasd</a></li>
                <li><a href="#">dasdasd</a></li>
            </ul>
        </section>
    </footer>
    
</body>
</html>