<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <header>
        <article>
          <img src="#" alt="Logo" />
        </article>
  
        <section>
          <input type="text" placeholder="Buscar..." />
          <nav>
            <ul>
              <li><a href="#">sasd</a></li>
              <li><a href="#">dasdsa</a></li>
              <li><a href="#">asdsad</a></li>
            </ul>
          </nav>
        </section>
  
        <section>
          <img src="#" alt="Perfil" />
          <img src="#" alt="Carrito" />
        </section>
      </header>

      <main>
        <div class="carrito">
            <h1 class="carrito-titulo">Mi carrito</h1>
            <article class="producto">
                <img src="https://via.placeholder.com/200x150" alt="Producto 1" class="product__image">
                <p class="producto-cantidad">Cantidad</p>
                <p class="producto-envio">Envio</p>
                <p class="producto-precio">Precio</p>
              </article>

              <article class="producto">
                <img src="https://via.placeholder.com/200x150" alt="Producto 1" class="product__image">
                <p class="producto-cantidad">Cantidad</p>
                <p class="producto-envio">Envio</p>
                <p class="producto-precio">Precio</p>
              </article>
              <article class="producto">
                <img src="https://via.placeholder.com/200x150" alt="Producto 1" class="product__image">
                <p class="producto-cantidad">Cantidad</p>
                <p class="producto-envio">Envio</p>
                <p class="producto-precio">Precio</p>
              </article>
              <article class="producto">
                <img src="https://via.placeholder.com/200x150" alt="Producto 1" class="product__image">
                <p class="producto-cantidad">Cantidad</p>
                <p class="producto-envio">Envio</p>
                <p class="producto-precio">Precio</p>
              </article>

        </div>

        <div class="sumario">Resumen de compra
            <div class="sumario-descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci dolores nobis quasi illo! Nobis aspernatur sequi possimus totam at aperiam consectetur incidunt similique qui. Corporis commodi nihil architecto maxime laboriosam.</div>
            <div class="sumario-finalizar">Finalizar Compra</div>
        </div>

    </main>

      <footer>
        <section>
            <ul>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">dsaada</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">dasdasd</a></li>
                <li><a href="#">dasdasd</a></li>
            </ul>
        </section>
        
        <section>
            <ul>
                <li><a href="#">asdasdasdas</a></li>
                <li><a href="#">dsaada</a></li>
                <li><a href="#">asdasdas</a></li>
                <li><a href="#">dasdasd</a></li>
                <li><a href="#">dasdasd</a></li>
            </ul>
        </section>
        
        <section>
            <ul>
                <li><a href="#">asdasda</a></li>
                <li><a href="#">dsaada</a></li>
                <li><a href="#">sasdasda</a></li>
                <li><a href="#">dasdasd</a></li>
                <li><a href="#">dasdasd</a></li>
            </ul>
        </section>
    </footer>
    
</body>
</html>