main {
  margin-top: 1vw;
}

.product {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5vw;
}

.product section {
  width: 45%;
}

.images-container {
  display: flex;
  justify-content: space-evenly;
  width: 3vw;
}

.images-container img {
  width: 100%;
}

.more-images {
  width: 14%;
}

.min-image {
  background-color: #ffffff;
  border: #ccc 2px solid;
  margin-bottom: 5px;
  cursor: pointer;
}

.main-image {
  width: 60%;
  border: #ccc 2px solid;
  background-color: #ffffff;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons a {
  color: #000000;
  text-decoration: none;
}

.buttons button {
  margin: 0 30px;
}

.btn-buy,
.btn-addToCart,
.btn-admin {
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-admin {
  border-color: #d8d8d8;
  background-color: #d8d8d8;
}

.btn-buy {
  color: #ffffff;
  background-color: #00bf63;
  border-color: #00bf63;
}

.btn-addToCart {
  color: #000000;
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}

.similarProducts {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (320px <= width < 768px) {
  .product {
    flex-direction: column;
    align-items: center;
  }

  .product section{
    width: 100%;
    align-items: center;
  }

  .images-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 15px 0px ;
  }

  .main-image{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .more-images{
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
  }
  
  .min-image {
    margin: 0px 10px;
  }

  .buttons{
    flex-direction: column;
    align-items: center;
  }

  .buttons article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons button{
    width: 90%;
    margin: 10px ;
    font-size: 0.9em;
  }

  .similarProducts{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
  }

  .individualProduct{
    justify-content: center;
    height: auto;
    width: 75vw;
  }

  
}
