.footer {
    background-color: whitesmoke;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col {
    flex: 1 1 auto;
    padding: 0 15px;
  }
  
  .lista-informacion,
  .redes-sociales,
  .metodos-pago {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .lista-informacion li,
  .redes-sociales li,
  .metodos-pago li {
    margin-bottom: 10px;
  }
  
  .lista-informacion a,
  .redes-sociales a,
  .metodos-pago i {
    text-decoration: none;
    color: #333;
  }
  .lista-informacion a:hover {
    color: #028886;
  }
  
  .redes-sociales li,
  .metodos-pago li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .redes-sociales i,
  .metodos-pago i {
    font-size: 20px;
    color: #333;
  }
  
  .metodos-pago i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .copyright {
    text-align: center;
    padding: 10px 0;
    width: 25%;
  }
  
  .copyright p {
    margin: 0;
  }

  .copyright p:hover {
    color: #028886;
  }
  