#logo-container {
    width: 10%;
  }
  
  #logo {
    width: 100%;
    border-radius: 50%;
  }
  
  .header-main {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .searchBar {
    width: 45%;
    position: relative;
  }
  
  .searchBar input {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
  }
  
  .fa-magnifying-glass {
    font-size: 20px;
    position: absolute;
    right: 4%;
  }
  
  .account-cart {
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
  }
  
  .account-cart a {
    text-decoration: none;
    color: darkblue;
    padding: 10px;
  }
  
  .fa-user {
    font-size: 20px;
    color: #d8d8d8;
  }
  
  .fa-cart-shopping {
    font-size: 25px;
    color: #d8d8d8;
  }
  
  .header-navBar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
    background-color: #d8d8d8;
  }
  
  .header-navBar a {
    text-decoration: none;
    color: darkblue;
  }
  
  .burger {
    display: none; /* Ocultar el menú hamburguesa por defecto */
  }

  @media (320px <= width < 768px) {
    .header-main {
      width: 100vw;
    }
  
    #logo-container {
      width: 25%;
    }
  
    .searchBar {
      width: 60%;
    }
  
    .account-cart {
      justify-content: space-evenly;
    }
  
    .fa-magnifying-glass {
      right: 12%;
    }
  
    .burger {
      margin: 10px 0px;
      padding: 5px; 
      display: block;
      text-align: center;
      background-color: #d8d8d8; 
      transition: all;
    }
  
    .burger:hover .header-navBar {
      display: block;
    }
  
    .header-navBar ul{
      display: block;
    }
  
    .header-navBar {
      display: none;
      z-index: 1;
      min-width: 160px;
      background-color: #f6f6f6;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
    }
  }