#logo-container {
    width: 10%;
  }
  
  #logo {
    width: 100%;
    border-radius: 50%;
  }
  
  .header-main {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .searchBar {
    width: 45%;
    position: relative;
  }
  
  .searchBar input {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid lightblue;
  }
  
  .searchBar button {
    position: absolute;
    right: 7%;
    padding: 0;
    border-radius: 0;
    background-color: #fff;
  }

  .searchBar button:hover {
    background-color: #fff;
  }

  .fa-magnifying-glass {
    font-size: 20px;
    color: #333;
    transition: transform 0.4s ease; /* Transición suave */
  }

  .fa-magnifying-glass:hover {
    color: #028886;
    transform: scale(1.2); /* Escala aumentada al pasar el cursor */
  }

  .account-cart {
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
  }
  
  .account-cart a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }

  .account-cart a:hover {
    color: #028886;
  }
  
  .fa-user {
    font-size: 30px;
    color: #d8d8d8;
  }
  .fa-user:hover {
    color: darkblue;
  }
  
  .fa-cart-shopping {
    font-size: 30px;
    color: #d8d8d8;
  }
  .fa-cart-shopping:hover {
    color: darkblue;
  }
  
  .header-navBar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
    background-color: #d8d8d8;
  }
  
  .header-navBar a {
    text-decoration: none;
    color: #333;
  }
  
  .burger {
    display: none; /* Ocultar el menú hamburguesa por defecto */
  }

  i.fa-solid.fa-bars {
    color: #333;
  }
  i.fa-solid.fa-bars:hover {
    color: #028886;
  }

  .menu-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-list li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu-list li:last-child {
    margin-right: 0;
  }
  
  .menu-list li a {
    text-decoration: none;
    color: #333;
  }
  
  .menu-list li a:hover {
    color: #028886;
  }

  button{
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover{
    background-color: #0056b3;
    
  }

  .error-message {
    display: block; 
    color: red; 
    font-size: 0.9em; 
    margin-top: 5px; 
    font-weight: bold;
}

.admin-add a {
  text-decoration: none;
  color:blue;
}
  

  @media (320px <= width < 768px) {
    .header-main {
      width: 100vw;
    }
  
    #logo-container {
      width: 25%;
    }
  
    .searchBar {
      width: 60%;
    }
  
    .account-cart {
      justify-content: space-evenly;
    }
  
    .fa-magnifying-glass {
      right: 12%;
    }
  
    .burger {
      margin: 10px 0px;
      padding: 5px; 
      display: block;
      text-align: center;
      background-color: #d8d8d8; 
      transition: all;
    }
  
    .burger:hover .header-navBar {
      display: block;
    }
  
    .header-navBar ul{
      display: block;
    }
  
    .header-navBar {
      display: none;
      z-index: 1;
      min-width: 160px;
      background-color: #f6f6f6;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
    }
  }