/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@300&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #fff9f0;
}

/* Estilos del encabezado */
header {
  background-color: #028886;
  width: 100vw;
  top: 0;
} 

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

#logo-container {
  width: 10%;
  border-radius: 50%;
}

#logo {
  width: 100%;
  border-radius: 50%;
}

.searchBar {
  width: 55%;
  position: relative;
}

.searchBar input {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
}

.fa-magnifying-glass {
  font-size: 20px;
  position: absolute;
  right: 4%;
}

.account-cart a,
.fa-user,
.fa-cart-shopping,
.home-link i {
  font-size: 1.5em;
  color: black;
}

/* Estilos de navegación */
.header-navBar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  background-color: #d8d8d8;
}

.header-navBar a {
  text-decoration: none;
  color: black;
  padding: 0 50px;
}

/* Estilos del área de inicio de sesión */
.login-section {
  text-align: center;
  margin: 50px auto;
  width: 60%; /* Ajuste del ancho de la sección de inicio de sesión */
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.login-input input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #028886;
  color: white;
  cursor: pointer;
}

.login-links {
  font-size: 0.8em;
}

.login-links a {
  text-decoration: none;
  color: #028886;
  margin-left: 5px;
}

/* Estilos del pie de página */
footer {
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    width: 100%;
    flex-grow: 1;
  
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.footer-lists {
  margin-bottom: 20px;
}

.footer-lists ul {
  list-style: none;
}

.footer-lists a {
  text-decoration: none;
  color: #028886;
}

@media (max-width: 400px) {
  footer {
    font-size: 12px;
  }
}