.perfil-section{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 80%;
    border-radius: 10px;
    margin-top: 20px;
}

button{
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #0056b3;
  
}

.img{
  border-radius: 150%;
  width: 50%;
}

.img-editar{
  border-radius: 150%;
  width: 50%;
}


.perfil{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.avatar-editar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.editar-perfil{
  margin-top: 2%;
}
.editar-perfil a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.editar-perfil a:hover {
  background-color: #0056b3;
}
.datos{
  border-top: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.lista li {
  list-style: none;
}

.formularios-editar{
  display: flex;
  flex-direction: column;
}

.boton-guardar-cambios{
  margin-top: 10px;
  text-align: center;
}

/*Media Querys*/

/*Tablets*/
@media (min-width: 769px) {


}

/*Desktop*/

@media (min-width: 1200px) {
  .perfil-section{
    flex-direction: row;
  }
  .perfil{
    flex-direction: row;
  }
  .datos{
    justify-content: center;
    border: none;
  }
  .avatar{
    width: 40%;
  }
  .avatar-editar{
    flex-direction: row;
  }
  
  .boton-guardar-cambios{
    margin-top: 10px;
    text-align: center;
  }

  .img-editar{
    width: 30%;
    margin-right: 150px;
  }
  
}