@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@300&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #fff9f0;
}

/*header {
  background-color: #028886;
  max-width: 100vw;
}*/

#logo-container {
  width: 10%;
}

#logo {
  width: 100%;
  border-radius: 50%;
}

.header-main {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.searchBar {
  width: 45%;
  position: relative;
}

.searchBar input {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
}

.fa-magnifying-glass {
  font-size: 20px;
  position: absolute;
  right: 4%;
}

.account-cart {
  width: 13%;
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.account-cart a {
  text-decoration: none;
  color: darkblue;
  padding: 10px;
}

.fa-user {
  font-size: 20px;
  color: #d8d8d8;
}

.fa-cart-shopping {
  font-size: 25px;
  color: #d8d8d8;
}

.header-navBar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 15px;
  background-color: #d8d8d8;
}

.header-navBar a {
  text-decoration: none;
  color: darkblue;
}

.burger {
  display: none; /* Ocultar el menú hamburguesa por defecto */
}

main {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked
  ~ .control-3
  ~ .slide-indicador
  li:nth-child(3)
  .slide-circulo {
  color: #428bca;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

.leftArrow,
.rightArrow {
  padding: 20px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7c7979;
}

.main-categorie {
  padding: 30px;
}

.main-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 99vw;
}

.arrowButton {
  padding: 1rem;
  background-color: #00bf63;
  border-radius: 50%;
  border-color: #00bf63;
  border-bottom: #00bf63;
  cursor: pointer;
}

.products-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.product-slide {
  flex: 0 1 auto;
  width: 200px;
  margin: 0 10px;
  scroll-snap-align: start;
}

.fa-angle-left,
.fa-angle-right {
  color: #ffffff;
}

.individualProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.individualProduct img {
  width: 100%;
}

.descriptionProduct {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.priceProduct {
  font-size: 1.4em;
  margin: auto;
}

.priceDiscount {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  margin-bottom: 5px;
  margin: auto;
}

.title {
  font-size: 1.2em;
}

.oldPrice {
  text-decoration: line-through;
  padding-right: 5px;
}

.discount {
  color: #0ddd78;
}

.btn-price p {
  margin-top: 10px;
}

.btn-Add {
  margin-top: 0.8%;
  padding: 15px;
  border-radius: 18px;
  border-color: #00bf63;
  color: #ffffff;
  background-color: #00bf63;
  cursor: pointer;
  border-bottom: #00bf63;
}

.main-productsOnSale {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

.main-productsOnSale div {
  margin: 2%;
  width: 35%;
}

.main-productsOnSale img {
  width: 100%;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer-lists {
  margin-bottom: 20px;
}

.footer-lists ul {
  list-style: none;
}

.footer-lists a {
  text-decoration: none;
  color: #028886;
}

@media (320px <= width < 768px) {
  .header-main {
    width: 100vw;
  }

  #logo-container {
    width: 25%;
  }

  .searchBar {
    width: 60%;
  }

  .account-cart {
    justify-content: space-evenly;
  }

  .fa-magnifying-glass {
    right: 12%;
  }

  .burger {
    margin: 10px 0px;
    padding: 5px; 
    display: block;
    text-align: center;
    background-color: #d8d8d8; 
    transition: all;
  }

  .burger:hover .header-navBar {
    display: block;
  }

  .header-navBar ul{
    display: block;
  }

  .header-navBar {
    display: none;
    z-index: 1;
    min-width: 160px;
    background-color: #f6f6f6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }

  .banner-container {
    width: 100%;
  }

  .product-slide {
    width: 60%;
  }

  .main-productsOnSale div {
    width: 50%;
    margin-top: 10%;
  }
}
