* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff9f0;
}

header {
  background-color: #028886;
  position: fixed;
  width: 100vw;
  top: 0;
}

#logo {
  width: 8%;
  border-radius: 50%;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.searchBar {
  width: 45%;
}

.searchBar input {
  width: 95%;
  padding: 15px;
  border-radius: 30px;
}

.fa-magnifying-glass {
  font-size: 20px;
}

.account-cart {
  width: 13%;
  display: flex;
  justify-content: space-around;
}

.fa-cart-shopping {
  font-size: 25px;
}

.header-navBar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 15px;
  background-color: #d8d8d8;
}

.header-navBar a {
  text-decoration: none;
  color: #000000;
}

main {
  text-align: center;
  margin-top: 170px;
}

.main-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.arrowButton {
  padding: 20px;
  border-radius: 50%;
  border-color: #00bf63;
  background-color: #00bf63;
}

.fa-angle-left, .fa-angle-right {
  color: #ffffff;
}

.individualProduct {
  width: 10%;
  background-color: #ffffff;
}

.individualProduct img {
  width: 100%;
}

.descriptionProduct {
  padding: 15px;
  flex-direction: column;
}

.descriptionProduct p {
  margin: 10px 0;
}

footer {
  background-color: #736f6f;
  display: flex;
  justify-content: space-around;
}

.footer-lists ul {
  list-style: none;
}

.footer-lists li {
  padding: 10px;
}

.footer-lists a {
  text-decoration: none;
  color: #ece5e5;
}
