<section class="footer-lists">
  <h4 class="title">Sobre nosotros</h4>
  <ul>
    <li><a href="/about">Quiénes somos</a></li>
    <li><a href="/trabaja">Trabajá con nosotros</a></li>
  </ul>
</section>

<!-- <section class="footer-lists footer-questions">
  <h4 class="title">Preguntas frecuentes</h4>
  <ul>
    <li><a href="#">Cómo comprar</a></li>
    <li><a href="#">Cómo se envía</a></li>
    <li><a href="#">Tiempo de envío</a></li>
    <li><a href="#">Métodos de pago</a></li>
  </ul>
</section>

<section class="footer-lists footer-contact">
  <h4 class="title">Contacto</h4>
  <ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Whatsapp</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Correo</a></li>
  </ul>
</section> -->