<link rel="stylesheet" href="/css/header.css" />

<section class="header-main">
  <a href="/" id="logo-container"
    ><img src="/images/others/logo_cellsparadise.png" alt="Logo" id="logo"
  /></a>

  <form action="/search" method="GET" class="header-main searchBar">
    <input type="text" name="keywords" placeholder="Buscar artículos..." />
    <i class="fa-solid fa-magnifying-glass"></i>
  </form>

  <div class="header-main account-cart">
    <a class="regicon" href="/users/login">
      <i class="fa-solid fa-user"></i> MI CUENTA
    </a>

    <a href="/productCart"
      ><i class="fa-solid fa-cart-shopping"></i> MI CARRITO
    </a>

    <!--Boton de cerrar sesion, solo si el usuario esta logeado-->
    <% if (locals.userLogged) { %>
    <form action="/users/logout" method="post">
      <button type="submit">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </form>
    <% } %>


  </div>
</section>

<nav class="burger">
  <i class="fa-solid fa-bars"></i>
  <nav class="header-navBar">
    <ul class="menu-list">
      <li><a href="/products">TODOS NUESTROS PRODUCTOS</a></li>
      <% locals.marcas.forEach(marca => { %>
        <li><a href="/products/<%= marca.name %>"><%=marca.name %></a></li>
        <%}) %>
    </ul>
  </nav>
</nav>

<nav class="header-navBar">
  <ul class="menu-list">
    <li><a href="/products">TODOS NUESTROS PRODUCTOS</a></li>
    <% locals.marcas.forEach(marca => { %>
    <li><a href="/products/<%= marca.name %>"><%=marca.name %></a></li>
    <%}) %>
  </ul>
</nav>
