<section class="header-main">
  <a href="/" id="logo-container"
    ><img src="/images/logo.jpeg" alt="Logo" id="logo"
  /></a>

  <form action="/search" method="GET" class="header-main searchBar">
    <input type="text" name="keywords" placeholder="Buscar Artículos" />
    <i class="fa-solid fa-magnifying-glass"></i>
  </form>

  <div class="header-main account-cart">
    <a href="/users/registro"> <i class="fa-solid fa-user"></i> MI CUENTA </a>
    <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
  </div>
</section>

<nav class="burger">
  <i class="fa-solid fa-bars"></i>
  <nav class="header-navBar">
    <ul>
      <li><a href="#">SAMSUNG</a></li>
      <li><a href="#">SMARTWATCH</a></li>
      <li><a href="#">MOTOROLA</a></li>
      <li><a href="#">ACCESORIOS</a></li>
      <li><a href="#">IPHONE</a></li>
    </ul>
  </nav>
</nav>

<nav class="header-navBar">
  <ul>
    <li><a href="#">SAMSUNG</a></li>
    <li><a href="#">MOTOROLA</a></li>
    <li><a href="/products">TODOS NUESTROS PRODUCTOS</a></li>
    <li><a href="#">ACCESORIOS</a></li>
    <li><a href="#">IPHONE</a></li>
  </ul>
</nav>
