<link rel="stylesheet" href="/css/header.css" />

<section class="header-main">
  <a href="/" id="logo-container"
    ><img src="/images/others/logo_cellsparadise.png" alt="Logo" id="logo"
  /></a>

  <form action="/search" method="GET" class="header-main searchBar">
    <input type="text" name="keywords" placeholder="Buscar artículos..." />
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <% if (locals.userLogged && locals.userLogged.id_rol === 1) { %>
  <article class="admin-add">
    <a href="/products/createProduct">AGREGAR PRODUCTOS</a>
    <br />
    
  </article>
  <% } %>

  <div class="header-main account-cart">
    <a class="regicon" href="/users/login">
      <i class="fa-solid fa-user"></i> MI CUENTA
    </a>

    <a href="/productCart"
      ><i class="fa-solid fa-cart-shopping"></i> MI CARRITO
    </a>

    <!--Boton de cerrar sesion, solo si el usuario esta logeado-->
    <% if (locals.userLogged) { %>
    <form action="/users/logout" method="post">
      <button type="submit">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </form>
    <% } %>
  </div>
</section>

<nav class="burger">
  <i class="fa-solid fa-bars"></i>
  <nav class="header-navBar">
    <ul class="menu-list">
      <% locals.marcas.forEach(marca => { %>
      <li>
        <a href="/products/<%= marca.name %>"
          ><%= marca.name.toUpperCase() %></a
        >
      </li>
      <% }) %> <% if (locals.userLogged && locals.userLogged.id_rol === 1) { %>
      <li><a href="/products">PRODUCTOS</a></li>
      <li><a href="#">USUARIOS</a></li>
      <% } %>
    </ul>
  </nav>
</nav>

<nav class="header-navBar">
  <ul class="menu-list">
    <% locals.marcas.forEach(marca => { %>
    <li>
      <a href="/products/<%= marca.name %>"><%= marca.name.toUpperCase() %></a>
    </li>
    <% }) %> <% if (locals.userLogged && locals.userLogged.id_rol === 1) { %>
    <li><a href="/products">TODOS LOS PRODUCTOS</a></li>
    <% } %>
  </ul>
</nav>
