<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/registro.css">    
</head>
<body>
  
  <header>
    <%- include('../partials/header.ejs') %>
  </header>    

  <main>
    <section class="register-section">
      <h2 class="login-section-title">Acerca de nosotros</h2>
      <p>
        Somos un grupo de personas que se comprometieron con la sociedad
        en crear un sitio seguro y confiable en donde poder adquirir un producto
        de alta calidad y prestaciones sin la necesidad de moverte de la comodidad
        que te brinda tu hogar. Por que sabemos que tu tiempo vale oro, estamos
        comprometidos en acercarte a tu proximo producto tecnologico en pocos y simples 
        pasos
      </p>
      <BR></BR>
    <p class="button">
        <input class="volver" type="button" value="Volver Atras" onClick="history.go(-1);">
    </p>
    </section>
      
    
  </main>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
  

</body>
</html>