<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <title>Resultados de la búsqueda</title>
    <link rel="stylesheet" href="/css/allProducts.css" />
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <% if(productSearched.length) { %>
        <section class="products-container">
          <%- include("../partials/home/category.ejs", {products: productSearched}) %>
        </section>
      <% } else { %>
      <div class="">
        <h2 class="" style="color: tomato">
          No hay productos que coincidan con esa búsqueda
        </h2>
      </div>
      <% } %>
    </main>

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
