<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trabaja con nosotros</title>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/registro.css">    
</head>
<body>
  
  <header>
    <%- include('../partials/header.ejs') %>
  </header>    

  <main>
    <section class="register-section">
      <h2 class="login-section-title">Trabajá con nosotros</h2>
      <p>
        Estamos en la busqueda de personas interesadas en crecer laboralmente. 
        Si estas en la busqueda de nuevas oportunidad, te gustan los desafios y dispones 
        de las habilidades necesarias, te invitamos a <a href="#">enviar tu CV</a>  completo a nuestro equipo y 
        te estaremos contactando .
      </p>
      <BR></BR>
    <p class="button">
        <input class="volver" type="button" value="Volver Atras" onClick="history.go(-1);">
    </p>
    </section>
      
    
  </main>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
  

</body>
</html>