<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

   <!--Encabezado de la página-->
  <header>
    <%- include('../partials/header.ejs') %>
</header>


  <!-- Contenido principal de la página -->

  <main>
    <section class="login-section">

      <h2 class="login-section-title">Ingresá a Cell's Paradise</h2>
      <form action="/login.php" method="post">
        <div class="login-inputs">
          <div class="login-input email-input">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" id="email" placeholder="Introduce tu correo electrónico" required>
          </div>

          <div class="login-input password-input">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Introduce tu contraseña" required>
          </div>
        </div>

        <div class="login-input remember-me">
          <input type="checkbox" name="remember" id="remember" />
          <label for="remember">Mantenerme Conectado</label>
        </div>

        <button type="submit">Iniciar sesión</button>
      </form>
      <p class="login-links">
        <br>
        ¿No tienes cuenta? <a href="/users/registro">Crear cuenta</a> | ¿Olvidaste tu contraseña? <a href="#">Recuperar contraseña</a>
      </p>
    </section>
  </main>

  <footer>

    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>