<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registro</title>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/registro.css" />
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>

    <main>
      <section class="register-section">
        <h2 class="login-section-title">Crea una cuenta</h2>

        <form
          class="register-form"
          action="/users"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="inputs">
            <section class="personal-info">
              <p class="input-wrapper">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="first_name"
                  id="nombre"
                  placeholder="Juan"
                />
              </p>
              <p class="input-wrapper">
                <label for="apellido">Apellido</label>
                <input
                  type="text"
                  name="last_name"
                  id="apellido"
                  placeholder="Pérez"
                />
              </p>
              <p class="input-wrapper">
                <label for="correo">Correo electrónico</label>
                <input
                  type="email"
                  name="email"
                  id="correo"
                  placeholder="juanperez@gmail.com"
                />
              </p>
              <p class="input-wrapper">
                <label for="password">Contraseña</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Mínimo 8 caracteres"
                />
              </p>
              <p class="input-wrapper">
                <label for="passwordRepetir">Confirmar contraseña</label>
                <input
                  type="password"
                  name="passwordRepetir"
                  id="passwordRepetir"
                  placeholder="Reingresa tu contraseña"
                />
              </p>
            </section>
            <section class="additional-info">
              <p class="input-wrapper">
                <label for="telefono">Número de Teléfono</label>
                <input
                  type="tel"
                  name="phone"
                  id="telefono"
                  placeholder="Teléfono Celular"
                />
              </p>
              <p class="input-wrapper">
                <label for="imagen">Imagen de perfil</label>
                <input
                  type="file"
                  name="avatar"
                  id="imagen"
                  accept="image/*"
                />
              </p>
              <p class="input-wrapper">
                <label for="birth_date">Fecha de nacimiento</label>
                <input
                  type="date"
                  name="birth_date"
                  id="birth_date"
                  placeholder=""
                />
              </p>
            </section>
          </div>
          <p class="button-wrapper">
            <button type="submit">Crear Cuenta</button>
          </p>
        </form>
        <p class="login-links">
          <br />
          ¿Ya tenés cuenta? <a href="/users/login">Ingresar</a> | ¿Olvidaste tu
          contraseña? <a href="#">Recuperar contraseña</a>
        </p>
      </section>
    </main>

    <footer><%- include('../partials/footer.ejs') %></footer>

    <script src="/js/registerValidations.js"></script>
  </body>
</html>
